

.row {
    display: flex;
    flex-direction: column;
    
    
}

.row ul {
    display: flex;
    flex-direction: column;
    gap: 20px
    
}
li {
    display: flex;
    flex-direction: column;
    list-style: none;
}


.row h3 {
    font-size: 18px;
    margin-top: 20px;
}

h1, h2{
    text-align: center;
    font-size: 90%;
}

